# Pycharm stuff
## User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

## Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## Gradle:
.idea/gradle.xml
.idea/libraries

##  Mongo Explorer plugin:
.idea/mongoSettings.xml

## General
.idea/
__pycache__/

## some open3d output files that might be created by accident
**/DepthCamera_*
**/DepthCapture_*
**/RenderOption_*

## Mac
**/.DS_Store

## Models are not uploaded to repo; access must be requested
models/**
**/*.h5
**/*.pt
**/*.pth
**/*.ckpt

# We uploaded some sample registration configs, but further configs are not uploaded
registration_configs/**

# config should be adjusted by the user to contain the relevant machine-specific paths
config.py